<!doctype html><html><head><meta charset="utf-8"><style>
{{BASE_CSS}}
{{FONT_FACES}}

</style></head><body data-compact>
<div class="view body" id="body"><div class="card" id="card">
  <div class="ar" id="ar"></div>
  <div class="divider"><span class="ln"></span>{{ORN_DIAMOND}}<span class="ln r"></span></div>
  <div class="en" id="en"></div>
  <div class="marker" id="marker"><span class="ln"></span><div class="num">{{ORN_MEDALLION}}<span id="num"></span></div><span class="ln r"></span></div>
</div></div>
<div class="view title hidden" id="title"><div class="card">
  <div class="t-orn"><span class="ln"></span>{{ORN_DIAMOND}}<span class="ln r"></span></div>
  <div class="t-ar" id="t-ar"></div>
  <div class="t-orn"><span class="ln"></span>{{ORN_DIAMOND}}<span class="ln r"></span></div>
  <div class="t-spacer"></div>
  <div class="t-en" id="t-en"></div>
  <div class="t-ref" id="t-ref"></div>
  <div class="t-reader" id="t-reader"></div>
</div></div>
{{JS}}
</body></html>
